// custom colors
$primary: rgb(106, 17, 203);
$secondary: rgb(119, 212,255);
$red: #ea0956;

$white: #fff;
$white-a : rgba(255,255,255,0.9);
$white-b : rgba(255,255,255,0.85);
$white-c : rgba(255,255,255,0.75);
$white-d : rgba(255,255,255,0.65);

$black: #000;
$black-a : rgba(0,0,0,0.9);
$black-b : rgba(0,0,0,0.85);
$black-c : rgba(0,0,0,0.75);
$black-d : rgba(0,0,0,0.65);

$gray: rgb(115, 134, 148);

$google: #ba483e;
$facebook: #4267b2;
$github: #24292e;
